body {
  width: 1100px;
  background-image: url(../img/background.png);
  background-repeat: repeat;
}

#main/*, nav, #tool, #etc, #colors*/ {
  border: 1px solid #a7a7a7;
}

nav {
  width: 1098px;
  height: 60px;
}

img:hover {
  opacity: 0.6;
}

#contents {
  content: "";
  display: block;
  clear: both;
}

#tool {
  float: left;
  width:  143px;
  height: 500px;
}

#tool img {
  float: left;
}

#tool img:nth-child(odd) {
  padding-right: 3px;
}

#main {
  float: left;
  width:  788px;
  height: 500px;
  background: #FFFFFF;
}

#etc {
  float: left;
  width:  163px;
  height: 500px;
}

#etc p {
  text-align: center;
}

#colors {
  float: left;
  width: 778px;
  height: 150px;
  padding: 10px 160px 0;
}
